Backend/node_modules
Frontend/node_modules

Backend/package-lock.json
Frontend/package-lock.json

Frontend/.env
Backend/.env

Backend/uploads
Backend/output
Backend/temp/

.DS_Store

clevertap_event_uploader.py
clevertap_uploader_from_monthly.py
separateBatches.py
uploadraymond.py
.history
