AWS_ACCESS_KEY_ID = AWS ACCESS KEY
AWS_SECRET_ACCESS_KEY = AWS SECRET ACCESS KEY
AWS_REGION = AWS REGION
S3_UPLOAD_BUCKET = BUCKET NAME FOR UPLOADS
S3_OUTPUT_BUCKET = BUCKET NAME FOR OUTPUTS

# Uncomment and set the following lines for production use
# FRONTEND_URL = YOUR FRONTEND URL HERE
# PORT = YOUR PORT HERE